h1 {
    color: lightblue;
    font-size: 2em;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Arial Narrow', sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    border: 2px solid blue;
}

button {
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: deepskyblue;
}
